@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif", "Playfair Display" "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex flex-col items-center;
  letter-spacing: -0.04em;
}

#root {
  @apply w-full max-w-screen-2xl  relative;
}

input {
  @apply p-4 outline-none border border-gray-300 my-1;
}
